@use "variables" as *;
@use "mixins" as *;

.db {

}

.db__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $db-header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 2px 5px 2px rgba(60, 64, 67, .15);
  z-index: 100;
}

.db__header-h1 {
  font-weight: 400;
}

.db__new {
  margin-top: $db-header-height;
  padding: 1.5rem;
  background: #dadce0;
}

.db__new-view {
  max-width: 1000px;
  margin: 0 auto;
}

.db__new-view__create {
  width: 160px;
  height: 160px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #dadce0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #000;
  text-align: center;

  &:hover {
    background: #f0f0f0;
    cursor: pointer;
    color: green;
    border-color: green;
  }
}

.db__table {
  padding: 1rem;
}

.db__table__list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #202124;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0 12px;
}

.db__table__list {
  @include clear-list();
}

.db__table__list-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px 12px 16px;
  margin-bottom: 10px;
  &:hover {
    background: #e6f4ea;
    border-radius: 25px;
  }
}

.db__table__list-record-a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

.db__table__list-record-s {

}