* {
  scrollbar-width: thin;
  scrollbar-color: #ae7aff transparent;
}
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #ae7aff;
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
  border: 3px solid #ae7aff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.fix{
  max-width: 1200px;
  margin: 0 auto;
  //padding: 15px;
}