@use "variables" as *;
@use "mixins" as *;

.excel__formula {
  position: absolute;
  top: $header-height + $toolbar-height;
  left: 0;
  right: 0;
  height: $formula-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
}

.excel__formula-info {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  border-right: 1px solid $border-color;
  min-width: $info-cell-width;

}

.excel__formula-input {
  padding: 4px;
  font-size: 12px;
  outline: none;
  width: 100%;
  height: 100%;
  color: #000 ;
}