@use "variables" as *;
@use "mixins" as *;

.excel__header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.excel__header-title{
  font-size: 18px;
  line-height: 22;
}
.excel__header-input {
  margin: 0;
  min-width: 1px;
  padding: 2px 7px;
  color: #000;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 20px;
  font-size: 18px;
  line-height: 22;
  outline: none;

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus {
    border: 2px solid #1a73e8;
  }
}

.excel__header-btns {
  display: flex;
  gap: 16px;
}

.excel__header-btn {
  @include btn()
}

.excel__header-btn.del {

}

.excel__header-btn.exit {

}