@use 'fix' as *;
@use "header";
@use "toolbar";
@use "formula";
@use "table";
@use "dashboard";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "~normalize.css";



body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
}

.container {
  border-right: 1px solid rgba(0, 0, 0, .5);
  border-left: 1px solid rgba(0, 0, 0, .5);
  height: 100dvh;
}

.excel{
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}