@use "variables" as *;
@use "mixins" as *;

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom : 2px;
}

.excel__table-row {
  display: flex;
  min-height: 20px;
  height: $row-height;
}

.excel__table-row__info {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $info-cell-width;
  height: 100%;
  border: 1px solid $border-color;
  background: #f8f9fa;
  border-top: none;
}

.excel__table-row__data {
  display: flex;
}

.excel__table-row__data-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  height: 100%;
  min-width: 40px;
  width: $cell-width;
  border: 1px solid $border-color;
  border-top: 0;
  border-left: 0;
}

.excel__table-row__data-cell {
  min-width: 40px;
  width: $cell-width;
  padding: 5px;
  height: 100%;
  border: 1px solid #e2e3e3;
  border-top: 0;
  border-left: 0;
  white-space: nowrap;
  color: #111;
  outline: none;
}

.selected {
  border: none;
  outline: 2px solid #3c74ff;
  z-index: 2;
}